name: CI

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main, develop]

jobs:
  ci:
    uses: mario-noobs/ci-baseline/.github/workflows/_ci-python.yml@main
    with:
      python_version: "3.10"
      test_enabled: true
      sonar_project_key: mario-noobs_face-ai-service
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  docker:
    runs-on: ubuntu-latest
    needs: ci
    if: github.event_name == 'push'
    steps:
      - uses: actions/checkout@v4
      - name: Build Docker image
        run: docker build -t face-ai-service:${{ github.sha }} .
